:root {
  --header-color: #13070c;
  --footer-color: #13070c;
  --hover-header-color: #4b4a4a;
  --background-color: #f1e4d4;
  --text-color: #e0cf91;
  --hover-text-color: #96875d;
  --active-text-color: #cc9e14;
}

* {
  /* background-color: black;
  border-color: black; */
}

.nav-div:hover {
  cursor: pointer;
  filter: contrast(0.1);
}

.hover-lighten:hover {
  filter: contrast(0.1);
}

.focus-lighten:focus {
  filter: contrast(0.1);
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pe-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  margin-bottom: 0.75rem;
}

.my-1 {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.sm-button {
  max-width: 2rem;
  max-height: 2rem;
}
