.nav-div:hover {
    cursor: pointer;
    filter: contrast(0.1);
}

.hover-lighten:hover {
  filter: contrast(0.1);
}

.focus-lighten:focus {
  filter: contrast(0.1);
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pe-2 {
  padding-right: 0.5rem
}

.pb-2 {
  margin-bottom: 0.75rem
}

.my-1 {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.gap-1 {
  gap: 0.25rem
}

.gap-2 {
  gap: 0.5rem
}

.sm-button {
  max-width: 2rem;
  max-height: 2rem;
}
