.spellCard {
  background-color: var(--header-color);
  color: var(--text-color);
  padding: 2rem;
  box-shadow: 0px 0px 5px 5px black;
}

.spell-card > .p-card-body,
.spell-card .p-card-content {
  padding-top: 0;
  padding: 0 0.5rem 0.5rem
}

.spellCardHeader {
  display: flex;
  justify-content: space-between;
}

.spellCardName {
  text-decoration: underline;
}

.spellCardField {
  padding: 0.25rem 0;
  display: flex;
  font-size: 1.1rem;
  text-align: start;
}

.spellCardField div {
  display: inline;
}

.atHigherLevel {
  margin-bottom: 1.75rem;
}

.fieldTitle {
  font-weight: bold;
}

.spellDescription {
  padding: 1.5rem 0 0.25rem 0;
  font-size: 1.1rem;
}

th {
  text-align: center;
}

td {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

table {
  justify-self: center;
}

@media screen and (max-width: 767px) {
  td {
    padding-left: 0;
    padding-right: 0;
  }
}