.statBlock {
  background-color: #e0cf91;
  color: black;
  box-shadow: 0px 0px 5px 5px #e0cf91;
}

.breakline {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid rgb(56, 56, 66);
  background: none;
  width: 100%;
}

.breakline-sm {
  margin-bottom: 0.5rem;
  border: 1px solid rgb(56, 56, 66);
  background: none;
  width: 100%;
}
