.conditions-accordion {
    width: 50%
}

.conditions-accordion table {
    justify-self: center
}

.conditions-accordion td {
    padding-left: 4rem;
    padding-right: 1rem;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .conditions-accordion {
        width: 70%
    }
}

@media screen and (max-width: 700px) {
    .conditions-accordion {
        width: 100%;
    }
}