.conditions-accordion {
    width: 40%
}

.conditions-accordion table {
    justify-self: center
}

.conditions-accordion td {
    padding-left: 4rem;
    padding-right: 1rem;
    text-align: center;
}